{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p>※以下のレコードを削除します。</p>
    <table class="table">
        <tr><th>店舗名</th><td>{{obj.name}}</td></tr>
        <tr><th>住所</th><td>{{obj.address}}</td></tr>
        <tr><th>入浴料</th><td>{{obj.fee}}</td></tr>
        <tr><th>定休日</th><td>{{obj.holiday}}</td></tr>
    </table>
    <form action="{% url 'delete' id %}" method="post">
        {% csrf_token %}
            <tr><th><td>
                <input type="submit" value="削除" class="btn btn-primary">
            </td></th></tr>
    </form>
</body>
</html>