{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body class="container">
<h1 class="display-4 text-primary">{{title}}</h1>
<hr>
<span class="badge badge-primary">check it !!!</span>
<p class="display-4 text-secondary">
    →<a href="gourmet/">gourmet</a><br>
    →<a href="gourmet/find">gourmet/find</a><br>
    →<a href="sauna/">sauna</a><br>
</p>
<hr>
<span class="badge badge-secondary">for development...</span>
<p class="display-4 text-secondary">
    →<a href="dev/">dev</a><br>
    →<a href="hello/">hello</a><br>
    →<a href="hello1/">hello1</a><br>
</p>
<hr>
</body>
</html>