{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body class="container">
<h1 class="display-4 text-primary">{{title}}</h1>
<hr>

<table class="display-5 text-secondary">
    <tr>
        <td><span class="badge badge-danger">check it !!!</span></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="gourmet/find" class="btn btn-outline-primary" role="button">gourmet/find</a></td>
        <td>HotPepper店舗検索（赤坂の居酒屋限定版）</td>
    </tr>
    <tr>
        <td><a href="sauna/" class="btn btn-outline-primary" role="button">sauna</a></td>
        <td>サウナ店舗一覧（ユーザー登録型）</td>
    </tr>
    <tr>
        <td><span class="badge badge-dark">for development...</span></td>
    </tr>
    <tr>
        <td><a href="lunchrec/" class="btn btn-outline-secondary" role="button">lunchrec</a></td>
        <td>テスト用：食事記録</td>
    </tr>
    <tr>
        <td><a href="dev/" class="btn btn-outline-secondary" role="button">dev</a></td>
        <td>テスト用</td>
    </tr>
    <tr>
        <td><a href="hello/" class="btn btn-outline-secondary" role="button">hello</a></td>
        <td>テスト用</td>
    </tr>
    <tr>
        <td><a href="hello1/" class="btn btn-outline-secondary" role="button">hello1</a></td>
        <td>テスト用</td>
    </tr>
    <tr>
        <td><a href="gourmet/" class="btn btn-outline-secondary" role="button">gourmet</a></td>
        <td>HotPepper店舗一覧（赤坂の居酒屋限定版）</td>
    </tr>
</table>
<hr>
<span class="badge badge-secondary">bootstrap test.</span><br>
<a href="./" class="btn btn-outline-primary" role="button">TEST</a>
<a href="./" class="btn btn-outline-secondary" role="button">TEST</a>
<a href="./" class="btn btn-outline-danger" role="button">TEST</a>
<a href="./" class="btn btn-outline-warning" role="button">TEST</a>
<a href="./" class="btn btn-outline-info" role="button">TEST</a>
<a href="./" class="btn btn-outline-dark" role="button">TEST</a>
<br>
<a href="./" class="btn btn-primary" role="button">TEST</a>
<a href="./" class="btn btn-secondary" role="button">TEST</a>
<a href="./" class="btn btn-danger" role="button">TEST</a>
<a href="./" class="btn btn-warning" role="button">TEST</a>
<a href="./" class="btn btn-info" role="button">TEST</a>
<a href="./" class="btn btn-dark" role="button">TEST</a>
<hr>
</body>
</html>