{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body class="container">
<h1 class="display-4 text-primary">{{title}}</h1>
<hr>

<table class="display-5 text-secondary">
    <tr>
        <td><span class="badge badge-primary">check it !!!</span></td>
        <td></td>
    </tr>
    <tr>
        <td>→<a href="gourmet/">gourmet</a></td>
        <td>＝HotPepper店舗一覧（赤坂の居酒屋限定版）</td>
    </tr>
    <tr>
        <td>→<a href="gourmet/find">gourmet/find</a></td>
        <td>＝HotPepper店舗一覧（赤坂の居酒屋限定版）検索</td>
    </tr>
    <tr>
        <td>→<a href="sauna/">sauna</a></td>
        <td>＝サウナ店舗一覧（ユーザー登録型）</td>
    </tr>
    <tr>
        <td><span class="badge badge-secondary">for development...</span></td>
    </tr>
    <tr>
        <td>→<a href="dev/">dev</a></td>
        <td></td>
    </tr>
    <tr>
        <td>→<a href="hello/">hello</a></td>
        <td></td>
    </tr>
    <tr>
        <td>→<a href="hello1/">hello1</a></td>
        <td></td>
    </tr>
</table>
<hr>
</body>
</html>