{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body class="container">
<h1 class="display-4 text-primary">{{title}}</h1>
<p class="h5 mt-4">{{message|safe}}</p>
<form action="{% url 'download' %}" method="post" align="right">
    {% csrf_token %}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="飲み屋データ更新" class="btn btn-primary mt-2">
        </td>
    </tr>
</form>
<form action="{% url 'find' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="ページ内検索" class="btn btn-primary mt-2">
        </td>
    </tr>
</form>
<hr>
<table class="table">
    <tr>
        <th>店名</th>
        <th>最寄駅</th>
        <th>ジャンル</th>
        <th>定休日</th>
        <th>Wi-Fi</th>
        <th>禁煙・喫煙</th>
        <th>クーポンURL</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.station}}</td>
        <td>{{item.genre}}</td>
        <td>{{item.holiday|truncatechars:10}}</td>
        <td>{{item.wifi}}</td>
        <td>{{item.non_smoking}}</td>
        <td>{{item.coupon_urls}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>