{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 text-primary">{{title}}</h1>
    <p>※以下のレコードを削除します。</p>
    <table class="table">
        <tr><th>日付</th><td>{{obj.date}}</td></tr>
        <tr><th>店名</th><td>{{obj.shop_name}}</td></tr>
        <tr><th>品名</th><td>{{obj.menu_name}}</td></tr>
        <tr><th>価格</th><td>{{obj.price}}</td></tr>
        <tr><th>備考</th><td>{{obj.remark}}</td></tr>
    </table>
    <form action="{% url 'delete' id %}" method="post">
        {% csrf_token %}
            <tr><th><td>
                <input type="submit" value="click" class="btn btn-primary">
            </td></th></tr>
    </form>
</body>
</html>