{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <table class="table">
    <td>
        <p class="display-4 text-primary">{{title}}</p>
    </td>
    <td>
        <a href="/">home</a>/
        <a href="/gourmet/find">gourmet</a>/
        <a href="/sauna">sauna</a>
    </td>
    </table>
    <div align="right">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'create_l' %}" role="button">新規情報登録</a>
    </div>
    <table class="table">
        <tr>
            <th>日付</th>
            <th>店名</th>
            <th>品名</th>
            <th>価格</th>
        </tr>
    {% for item in data %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.shop_name}}</td>
            <td>{{item.menu_name}}</td>
            <td>{{item.price}}</td>
            <td><a href="{% url 'edit_l' item.id %}">[編集]</a></td>
            <td><a href="{% url 'delete_l' item.id %}">[削除]</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>